.fitbod-container {

  .fitbod-svg-wrapper {
    margin-bottom: 50px;
    border: 1px solid $colorFitbodBlack;

    .fitbod-title {
      font-size: 30px;
      font-weight: 700;
      margin-left: 60px;
    }
    
    .fitbod-svg {
  
      .fitbod-group-main {
  
        .fitbod-group-chart {
  
          .fitbod-area {
            fill: $colorFitbod;
            stroke: $colorFitbod;
          }

          .fitbod-line {
            stroke: $colorFitbodDarkened;
          }
    
          .fitbod-point {
            fill: $colorFitbodBlack;
          }
        }
  
        .fitbod-group-axis-x {
  
        }
  
        .fitbod-group-axis-y {
  
        }
      }
    }
  }
}
