<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h1>{{title}}</h1>
  </div>
</div>

<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <div class="container-fitbod"></div>
  </div>
</div>

<script src="/js/fitbod.js"></script>
<script type="text/javascript">fitbod({{{data}}});</script>
